.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  margin-top: 30px;
  margin-left: 28px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  border-radius: 50 px;
  color: #282828;
  cursor: pointer;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
  border-radius: 50px;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 15px;
}

.sidebar .bottom-item {
  cursor: pointer;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
